In [17]:
a=10
b=5

a>b

True

In [18]:
a>=b

True

In [19]:
a=5
b=5

a==b

True

In [20]:
a=8
b=6

a!=b

True

In [21]:
import math

In [22]:
math.factorial(5)

120

In [23]:
math.sqrt(36)

6.0

In [24]:
math.pi

3.141592653589793

In [25]:
math.e

2.718281828459045

In [26]:
degree=30

In [27]:
radians=math.radians(degree)

In [28]:
radians

0.5235987755982988

In [29]:
math.sin(radians)

0.49999999999999994

In [30]:
math.cos(radians)

0.8660254037844387

In [31]:
math.tan(radians)

0.5773502691896257

In [32]:
circles=50
radius=34
price=98

pi=math.pi

area=pi*radius**2
totalarea=area*circles
totalarea_2=totalarea*price

In [33]:
totalarea_2

17795237.426994022

In [34]:
a=int(input('enter a value'))
b=int(input('enter b value'))

if a<b:
    print(f'a is smallest')
else:
    print(f'b is bigger than a')

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a=int(input('enter a value'))
if(a%2==0):
    print(f'{a}is an even number')
else:
    print(f'{a} is a odd number')

999 is a odd number

In [ ]:
x=int(input('enter x value'))
if(x<0):
    print('-ve value')
else:
    print('+ve value')

-ve value

In [ ]:
a=int(input('enter a value'))
b=int(input('emter b value'))
print('a is big')if(a>b)else print('b is big')

a is big

In [ ]:
x=int(input('enter x value'))
y=int (input('enter y value'))
z=int(input('emter z value'))

if(x>y and x>z):
    print('x is big',x)
elif(y>z):
    print('y is big',y)
else:
    print('z is big',z)

z is big 100

In [ ]:
age=int(input('enter a value'))
age

11

In [ ]:
print('cartoon')if(age<10)else('horror')

'horror'

In [ ]:
state=input('enter a state')
state

'washington'

In [ ]:
if state=='tamil nadu':
    print('tamil movies')
elif state=='kerala':
    print('malayalam movies')
elif state=='karnataka':
    print('kannada movies')
else:
    print('english movies')

english movies

In [ ]:
state=input('enter a state')

In [ ]:
state

'tamil nadu'

In [ ]:
match state:
     case 'tamil nadu':
          print('recomended tamil movies')
     case 'kerala':
          print('recomended malayalam movies')
     case 'other':
          print('recomended english movies')

recomended tamil movies

In [ ]:
a=int(input('enter a value'))
b=int(input('enter b value'))
choice=int(input('enter choice value 1-5') )
match choice:
    case 1:
        print('a+b=',(a+b))
    case 2:
        print('a-b=',(a-b))    
    case 3:
        print('a*b=',(a*b)) 
    case 4:
        print('a/b=', (a/b))
    case 5:
        print('a%b=', (a%b))
    case 6:
        print('no more operations found')

no more operations found

fundamental data structure

list

In [ ]:
a=['aa',101,87.5,'pass']
a

['aa', 101, 87.5, 'pass']

In [ ]:
a.append('A')
a

['aa', 101, 87.5, 'pass', 'A', 'A']

In [ ]:
a.insert(2,100)
a

['aa', 101, 100, 100, 87.5, 'pass', 'A', 'A']

In [ ]:
a.remove(100)
a

ValueError: list.remove(x): x not in list

In [ ]:
a.count(100)

0

In [ ]:
a.count('pass')

1

In [ ]:
a.count('87.5')

0

In [ ]:
a.index(87.5)

2

In [ ]:
len(a)

6

In [ ]:
a.remove('A')

In [ ]:
a

['aa', 101, 87.5, 'pass', 'A']

In [ ]:
len(a)

5

In [ ]:
a.reverse()
a

['aa', 101, 87.5, 'pass', 'A']

In [ ]:
a[0]='variablz'
a

['variablz', 101, 87.5, 'pass', 'A']

In [ ]:
a[5]

IndexError: list index out of range

In [ ]:
a[-3]

87.5

nested list

In [ ]:
b=[1,2,3,[4,5,6]]
b

[1, 2, 3, [4, 5, 6]]

In [ ]:
b[0]

1

In [ ]:
b[1]

2

In [ ]:
b[2]

3

In [ ]:
b[3]

[4, 5, 6]

In [ ]:
b[3][0]

4

In [ ]:
b[3][2]

6

In [ ]:
b[3][2]

6

In [ ]:
s=[10,6,7,-3,-4,-2,-10,99,85]
s

[10, 6, 7, -3, -4, -2, -10, 99, 85]

In [ ]:
s.sort()
s

[-10, -4, -3, -2, 6, 7, 10, 85, 99]

In [ ]:
c=['deva','bala','abdullah','parath']
c

['deva', 'bala', 'abdullah', 'parath']

In [ ]:
c.sort()
c

['abdullah', 'bala', 'deva', 'parath']

tuples

In [ ]:
x=('mon','tue','wed','thu','fri')
x

('mon', 'tue', 'wed', 'thu', 'fri')

In [ ]:
x.count('fri')

1

In [ ]:
x.index('mon')

0

In [ ]:
len(x)

5

dictionary

In [44]:
person={}

person['name']='abdullah'
person['age']=15
person['district']='cuddalore'

person

{'name': 'abdullah', 'age': 15, 'district': 'cuddalore'}

In [ ]:
books=['python','java','sql','dart']
books

['python', 'java', 'sql', 'dart']

In [ ]:
numbers=[10,50,100,1000]
numbers

[10, 50, 100, 1000]

In [ ]:
name=['sunil',12,'python',2098642]
name

['sunil', 12, 'python', 2098642]

In [41]:
b=[]

In [42]:
b.append('python')
b.append('java')
b.append('dart')
b.append('sql')
b

['python', 'java', 'dart', 'sql']

In [ ]:
b.insert(1,'r program')
b

['python', 'r program', 'java', 'r program', 'dart', 'sql']

In [ ]:
b.remove('r program')
b

['python', 'java', 'r program', 'dart', 'sql']

In [43]:
b.count('r program')
b

['python', 'java', 'dart', 'sql']

In [45]:
info={'n':'barath','a':16,'address':'semmandalam','c':'python'}

In [46]:
info

{'n': 'barath', 'a': 16, 'address': 'semmandalam', 'c': 'python'}

In [48]:
info['n']

'barath'

In [49]:
info.keys()

dict_keys(['n', 'a', 'address', 'c'])

In [50]:
info.values()

dict_values(['barath', 16, 'semmandalam', 'python'])

In [52]:
info.items()

dict_items([('n', 'barath'), ('a', 16), ('address', 'semmandalam'), ('c', 'python')])

In [56]:
info.get('a')

16

In [59]:
p= {'ph no':1234567890}

In [61]:
info.update(p)
info

{'n': 'barath',
 'a': 16,
 'address': 'semmandalam',
 'c': 'python',
 'ph no': 1234567890}

In [75]:
info.pop('address')

KeyError: 'address'

In [76]:
info

{'n': 'barath', 'a': 16, 'ph no': 1234567890}

In [78]:
info.popitem()

('ph no', 1234567890)

In [79]:
info

{'n': 'barath', 'a': 16}

In [80]:
'a' in info

True

In [82]:
'ph no' not in info

True

In [85]:
16 in info.values()

True

In [86]:
16 in info.keys()

False

SET

In [88]:
x={0,9,7,5,67,4,-7,-5}
x

{-7, -5, 0, 4, 5, 7, 9, 67}

In [89]:
a={1,2,3,4,5,10}
b={9,8,7,6,5}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [90]:
a.intersection(b)

{5}

In [91]:
a.difference(b)

{1, 2, 3, 4, 10}

In [92]:
b.difference(a)

{6, 7, 8, 9}

IDENTIFIER OPERATIONS

In [93]:
fruits=['apple','banana','grapes']
fruits1=['apple','banana']
print(fruits is fruits1)

False

In [94]:
print(fruits is not fruits1)

True

LOOPS AND CONTROL

In [1]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [2]:
i=1
while i<=10:
    print(i)
    i=i+2

1
3
5
7
9

In [3]:
i=2
while i<=10:
    print(i)
    i=i+2

2
4
6
8
10

In [4]:
beverages=('coke','pepsi','fanta')
beverages

('coke', 'pepsi', 'fanta')

In [5]:
for beverage in beverages:
    print(beverage)

coke
pepsi
fanta

In [6]:
sentence='i am billa'
sentence

'i am billa'

In [7]:
for item in sentence:
    print(item)

i

a
m

b
i
l
l
a

In [12]:
nums=range(5)
nums

for num in nums:
    print(num)

0
1
2
3
4

In [8]:
numbers=range(6,16)
numbers

for number in numbers:
    print(number)

6
7
8
9
10
11
12
13
14
15

In [9]:
numbers=range(1,10,3)

for number in numbers:
    print(number)

1
4
7

In [25]:
shopping_cart_1 = ['charger','phone','pen','pencil']
shopping_cart_2 = ['headphone','speaker','carrom board']
shopping_carts = [shopping_cart_1,shopping_cart_2]

In [26]:
i = 0
while i<len(shopping_carts):
    j = 0
    while j<len(shopping_carts[i]):
        print(shopping_carts[i][j])
        j+=1
    i+=1

charger
phone
pen
pencil
headphone
speaker
carrom board

In [28]:
beverages=['pepsi','coke','fanta','bovonto']
beverages

['pepsi', 'coke', 'fanta', 'bovonto']

In [29]:
for beverage in beverages:
    print(beverage)
    if beverage == 'fanta':
        print('fanta is available')
        break

pepsi
coke
fanta
fanta is available

In [30]:
beverages=['pepsi','coke','fanta','bovonto']
beverages

['pepsi', 'coke', 'fanta', 'bovonto']

In [32]:
count = 0
while count<len(beverages):
    if beverages[count] == 'fanta':
        count += 1
        continue

    print(f'Buy {beverages[count]}')
    count += 1

Buy pepsi
Buy coke
Buy bovonto

In [33]:
for beverage in beverages:
    if beverage == 'fanta':
        continue

    print(f'Buy {beverage}')

Buy pepsi
Buy coke
Buy bovonto

In [35]:
books=('tamil','english','maths')
books

('tamil', 'english', 'maths')

In [36]:
count = 0
while count<len(books):
    if books[count] == 'marathi':
        print('marathi book found')
    count += 1

else:
    print('book not available')

book not available

In [38]:
for book in books:
    if book == 'marathi':
        print('math book available')
else:
    print('book not available')

book not available

In [25]:
for i in range(1,7):
    for j in range(1,i):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [85]:
for r in range(1,4):
    for c in range(1,4):
      if r==c:
        print(1,end=' ')
      else:
         print(0,end=' ')
    print()

1 0 0
0 1 0
0 0 1

In [78]:
for i in range(0,50,5):
    if(i==5):
        break
        print('break loops')
    else:
        print(i)

0

In [82]:
a=0

In [83]:
for r in range(1,4):
    for c in range(1,4):
        a=a+1
        print(a,end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [97]:
for i in range(1,10):
    if(i%2!=0):
        continue
    else:
        print(i)
print()

2
4
6
8

In [57]:
for j in range(0,6):
    for i in range(0,j):
        print(j,end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [71]:
for i in range(1,7):
    for j in range(1,i):
        j=i-1
        print(j,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [133]:
for i in range(0,5):
    for j in range(0,i):
        i=j+1
        print(i,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

EXCEPTION HANDLING

In [2]:
if age < 30:
    print('youngster')

NameError: name 'age' is not defined

In [4]:
try:
    if age<30:
        print('youngster')
except:
    print('error occured')
finally:
    print('operation done!')

error occured
operation done!

In [5]:
try:
    if age<30:
        print('youngster')
except NameError:
    print('name not defined')
except:
    print('other error')

name not defined

In [7]:
age=input('enter your age')
try:
    if age<30:
        print('youngster')
except NameError:
    print('name not defined')
except TypeError:
    print('type not valid')
except:
    print('other error')

type not valid

FILE HANDLING

In [1]:
file=open('variablz.txt','x')

In [2]:
file=open('variablz.txt','x')

FileExistsError: [Errno 17] File exists: 'variablz.txt'

In [4]:
file=open('variablz.txt','w')
file.write('''
hi 
This is the new file
where you can store your texts,
this helpful for those who learns.
''')

file.close()

In [7]:
file=open('student.csv','w')

file.write(''' 
s no,name,marks,rank
1.,vijay,487,1
2.,surya,456,2
3.,siva,431,3
''')

file.close()

In [9]:
file=open('variablz.txt','a')

file.write('''
This is just to inform that you can add some texts at any time you want
using append''')

file.close()

In [13]:
file=open('student.csv','a')

file.write(''' ''')

file.close()

In [14]:
file=open('student.csv','r')
content=file.read()
print(content)

s no,name,marks,rank
1.,vijay,487,1
2.,surya,456,2
3.,siva,431,3

4.,dhanush,412,4
5.,naslen,400,5
4.,dhanush,412,4
              5.,naslen,400,5

In [17]:
file=open('variablz.txt','r')
content=file.readline()
print(content)
file.close()

In [18]:
file=open('variablz.txt','r')
content=file.readlines()
print(content)
file.close()

['\n', 'hi \n', 'This is the new file\n', 'where you can store your texts,\n', 'this helpful for those who learns.\n', '\n', 'This is just to inform that you can add some texts at any time you want\n', 'using append']

In [19]:
file_name='variablz.txt'

In [21]:
with open(file_name,'w')as file:
    file.write('This file is written by context manager')

In [22]:
import os

In [23]:
if os.path.exists("variablz.txt"):
    print('file exists')
else:
    print("file doesn't exist")

file exists

In [24]:
import os

In [28]:
if os.path.exists("student.csv"):
    os.remove("student.csv")
    print('student.csv removed')
else:
    print('file does not exist')

student.csv removed

In [29]:
def addinfo():
    a=100
    b=10
    print(a+b)

In [30]:
addinfo()

110

In [37]:
def addinfo (a,b):
    print(a*b)

In [38]:
addinfo(500,10)

5000

In [39]:
addinfo(10,590)

5900

In [40]:
def addinfo(a,b):
    return(a+b)

In [41]:
c=addinfo(50,40)
print(c)

90

In [43]:
print(addinfo(20,50))

70

In [48]:
def stuinfo(name,rno,m1,m2,m3):
    total=m1+m2+m3
    average=total/3
    print(f'name is {name}')
    print(f'rno is {rno}')
    print(f'physics mark {m1}')
    print(f'chemistry mark {m2}')
    print(f'maths mark {m3}')
    print(f'total is {total}')
    print(f'avearge is {average}')

In [49]:
stuinfo('vanitha',1234,90,100,89)

name is vanitha
rno is 1234
physics mark 90
chemistry mark 100
maths mark 89
total is 279
avearge is 93.0

In [51]:
if os.path.exists("variablz.txt"):
    os.remove("variablz.txt")
    print('variablz.txt removed')
else:
    print('file does not exist')

file does not exist

In [55]:
def calculate_area():
    length = 50
    width = 40
    area = length * width
    print(area)

In [56]:
calculate_area()

calculate_area()

calculate_area()

2000
2000
2000

In [11]:
def add_user(name,mailid,phno,age = 16):

    user = {
        'firstname':name,
        'mailid':mailid,
        'phno':phno,
        ' age':age  
        }
    
    return user

In [12]:
add_user('abdullah','abdullah@gmail.com',9876543210)

{'firstname': 'abdullah',
 'mailid': 'abdullah@gmail.com',
 'phno': 9876543210,
 ' age': 16}

In [13]:
add_user('abdullah','abdullah@gmail.com',9876543210,17)

{'firstname': 'abdullah',
 'mailid': 'abdullah@gmail.com',
 'phno': 9876543210,
 ' age': 17}

In [16]:
def adduser(name,mailid,phno,age=16,city='cuddalore'):

    user = {
        'fname':name,
        'mailid':mailid,
        'phno':phno,
        'age':age,
        'city':city
    }

    return user

In [17]:
adduser('abdullah','abdullah@gmail.com',9876543210)

{'fname': 'abdullah',
 'mailid': 'abdullah@gmail.com',
 'phno': 9876543210,
 'age': 16,
 'city': 'cuddalore'}

In [19]:
adduser('abdullah','abdullah@gmail.com',9876543210,city = 'pondy')

{'fname': 'abdullah',
 'mailid': 'abdullah@gmail.com',
 'phno': 9876543210,
 'age': 16,
 'city': 'pondy'}

In [20]:
adduser('abdullah','abdullah@gmail.com',9876543210,city = 'pondy',age = 23)

{'fname': 'abdullah',
 'mailid': 'abdullah@gmail.com',
 'phno': 9876543210,
 'age': 23,
 'city': 'pondy'}

In [21]:
def orderfood(*items):

    cart = []

    for item in items:
        cart.append(items)

        return cart

In [22]:
lunch = orderfood('chilly chicken','garlic chicken','butter rotti','goli soda')

print(lunch)

[('chilly chicken', 'garlic chicken', 'butter rotti', 'goli soda')]

In [24]:
def sum_all_numbers(*numbers):
    
    total = sum(numbers)

    return total

In [25]:
sum_all_numbers(1,10,3,5,8)

27

In [26]:
def calculatearea(len , h):
    '''  
    to calculate the rectangle area:
    calculatearea(len of rectangle , h of ractangle)
    '''

    rectanglearea = len * h

    return rectanglearea

In [27]:
help(calculatearea)

Help on function calculatearea in module __main__:

calculatearea(len, h)
    to calculate the rectangle area:
    calculatearea(len of rectangle , h of ractangle)

In [4]:
def order_food(**item):
    ''' This is keyword arguemant.It does not follow any order
    it represents as dictionary'''

    for key,value in item.items():
        print('%s:=%s'%(key,value))

In [5]:
order_food(maindish = 'biriyani',sidedish = 'chicken 65',sweet = 'bread halwa')

maindish:=biriyani
sidedish:=chicken 65
sweet:=bread halwa

In [6]:
help(order_food)

Help on function order_food in module __main__:

order_food(**item)
    This is keyword arguemant.It does not follow any order
    it represents as dictionary

In [7]:
order_food.__doc__

' This is keyword arguemant.It does not follow any order\n    it represents as dictionary'

In [156]:
year = 1975

In [157]:
if year%4==0:
    print('it is a leap year')

else:
    print('it is not a leap year')

it is not a leap year

In [73]:
def adduser(name,mailid,phno,age=16,city='cuddalore'):

    user = {
        'fname':name,
        'mailid':mailid,
        'phno':phno,
        'age':age,
        'city':city
    }

In [172]:
def employee_details(employeenum,name,dept,salary):
    user = {
        'employeenum':employeenum,
        'fname':name,
        'dept':dept,
        'salary':salary
    }

    return user

In [174]:
employee_details(1234,'veeramani','software engeneer', 125000)

{'employeenum': 1234,
 'fname': 'veeramani',
 'dept': 'software engeneer',
 'salary': 125000}

In [182]:
if 123 < 321:
    print(321)
else:
    print(123)

321

In [1]:
import area

print('the area of circle is',area.c_area(10))
print('the area of rectangle is',area.r_area(10.8,20.2))
print('the area of semi_triangle is',area.st_area(10.8,20.2,30.0))

the area of circle is 314.0
the area of rectangle is 218.16
the area of semi_triangle is 6544.8

In [27]:
import Arith

In [29]:
print(Arith.addition(14,76))
print(Arith.subtraction(76,14))
print(Arith.multiplication(56,5))
print(Arith.division(98,56))
print(Arith.module(35,5))

90
62
280
1.75
0

OOPS

In [2]:
class bank:
    msg = 'welcome customer'

In [3]:
obj = bank()

In [4]:
obj.msg

'welcome customer'

In [63]:
class employee:
    msg = 'welcome to this company'
    def employee_info(self,number,name,dept,salary):
        self.number1 = number
        self.name1 = name
        self.dept1 = dept
        self.salary1 = salary
    def display(self):
        print(self.msg)
        print('employee number',self.number1)
        print('employee name'+self.name1)
        print('employee dept'+self.dept1)
        print('employee salary',self.salary1)

In [64]:
obj= employee()
obj.employee_info(1234,'Abdullah','Software Engineer',50000)
obj.display()

welcome to this company
employee number 1234
employee nameAbdullah
employee deptSoftware Engineer
employee salary 50000

In [3]:
class bank:
    msg = 'welcome customer'
    def bankinfo(self,name,address):
        self.name1 = name
        self.address1 = address
    def disp(self):
        print(self.msg)
        print('bank name '+self.name1)
        print('bank address '+self.address1)

In [4]:
obj = bank()
obj.bankinfo('UCO bank','cuddalore')
obj.disp()

welcome customer
bank name UCO bank
bank address cuddalore

In [24]:
class student:
    def __init__(self):
        name = 'variablz'
        address = 'cuddalore'
        self.name = name
        self.address = address
        
    def disp(self):
        print('name is ',self.name)
        print('address is',self.address)

In [25]:
obj = student()
obj.disp()

name is  variablz
address is cuddalore

In [26]:
class student:
    def __init__(self,name,address):
        self.name = name
        self.address = address
    def disp(self):
        print('name is ',self.name)
        print('adress is ',self.address)
    def __del__(self):
        print('destroyed object')

In [28]:
obj = student('variablz','cuddalore')
obj.disp()
del obj

name is  variablz
adress is  cuddalore
destroyed object

In [29]:
obj.disp()

NameError: name 'obj' is not defined

In [30]:
class customer_info:
    def __init__(self):
        name = 'abdullah'
        address = 'cuddalore'
        phoneno = 8124885385
        accountno = 1234432156788765

        self.name = name
        self.address = address
        self.phoneno = phoneno
        self.accountno = accountno
    
    def disp(self):
        print('name is ',self.name)
        print('address is ',self.address)
        print('phoneno is ',self.phoneno)
        print('accountno is ',self.accountno)

In [31]:
obj = customer_info()
obj.disp()

name is  abdullah
address is  cuddalore
phoneno is  8124885385
accountno is  1234432156788765

In [32]:
class customer_info:
    def __init__(self,name,address,phoneno,accountno):
        
        self.name = name
        self.address = address
        self.phoneno = phoneno
        self.accountno = accountno
    
    def disp(self):
        print('name is ',self.name)
        print('address is ',self.address)
        print('phoneno is ',self.phoneno)
        print('accountno is ',self.accountno)

In [34]:
obj = customer_info('abdullah','cuddalore',8124885385,1234432156788765)
obj.disp()

name is  abdullah
address is  cuddalore
phoneno is  8124885385
accountno is  1234432156788765

In [37]:
class customer_info:
    def __init__(self,name,address,phoneno,accountno):
        
        self.name = name
        self.address = address
        self.phoneno = phoneno
        self.accountno = accountno
    
    def disp(self):
        print('name is ',self.name)
        print('address is ',self.address)
        print('phoneno is ',self.phoneno)
        print('accountno is ',self.accountno)

    def __del__(self):
        print('destroyed object')

In [38]:
obj = customer_info('abdullah','cuddalore',8124885385,1234432156788765)
obj.disp()
del obj

name is  abdullah
address is  cuddalore
phoneno is  8124885385
accountno is  1234432156788765
destroyed object

In [39]:
obj.disp()

NameError: name 'obj' is not defined

In [40]:
class Amazon_account:
    def __init__(self):
        print(f'object created')

    def __del__(self):
        print(f'object deleted')

In [41]:
Parthiban = Amazon_account()

object created

In [42]:
del Parthiban

object deleted

In [55]:
class amazonaccount:

    msg='welcome to amazon'

    __default_delivery=7


    def __init__(self,name,mail):
        self.name=name
        self.__mail=mail
        print(f'hello {self.name}!\n{self.msg}')

In [56]:
abdullah=amazonaccount('abdullah','abdullah@gmail.com')

hello abdullah!
welcome to amazon

In [6]:
class student:
    def studentinfo(self,rno,name):
        self.rno = rno
        self.name = name

class mark(student):
    def markinfo(self,mark,grade):
        self.mark = mark
        self.grade = grade

    def disp1(self):
        print(self.rno) 
        print(self.name) 
        print(self.mark)
        print(self.grade)

In [7]:
d1 = mark()
d1.studentinfo(1234,'Abdullah')
d1.markinfo(450,'D+')
d1.disp1()

1234
Abdullah
450
D+

In [9]:
class standardaccount:
    
    __default_delevery = 7

    welcomemessage = 'welcome to aatomz account'


    def __init__(self,name,mobile,email):
        self.name = name
        self.mobile = mobile
        self.email = email
        print(self.welcomemessage)

    def shopping(self,item):
        print(f'{self.name} bought {item}')
    
    def delevery(self):
        print(f'your order will be delevered in {self.__default_delevery} days')

    def deactivateaccount(self):
        print(f'{self.name} account has been deactivated successfully')

In [10]:
class premiumaccount(standardaccount):
    welcomemessage = 'welcome to aatomz **prime** account'

    def delevery(self):
        premium_delevery = 3
        print(f'your order will be delevered in {premium_delevery} days')

    def prime_video(self):
        print('prime video membership enabled')

    def cancel_membership(self):
        print(f'{self.name} has successfully cancelled the membership')

In [11]:
myaccount = standardaccount('abdullah',1234567890,'abdullah@gmail.com')
myaccount.name

welcome to aatomz account

'abdullah'

In [12]:
myaccount.delevery()
myaccount.shopping('iphone')
myaccount.deactivateaccount()

your order will be delevered in 7 days
abdullah bought iphone
abdullah account has been deactivated successfully

In [13]:
myprimeaccount = premiumaccount('abdullah',1234567890,'abdullah@gmail.com')
myprimeaccount.name

welcome to aatomz **prime** account

'abdullah'

In [14]:
myprimeaccount.delevery()
myprimeaccount.shopping('iphone')

your order will be delevered in 3 days
abdullah bought iphone

In [15]:
myprimeaccount.prime_video()
myprimeaccount.deactivateaccount()
myprimeaccount.cancel_membership()

prime video membership enabled
abdullah account has been deactivated successfully
abdullah has successfully cancelled the membership

In [16]:
class amazonaccount:
    __default_delevery = 7 

    welcomemessage = 'welcome to amazon account'

    def __init__(self,name,mobile,email):
        self.name = name
        self.mobile = mobile
        self.email = email

    def shopping(self,item):
        print(f'{self.name} bought {item}')

    def delevery(self):
        print(f'your order will be delevered in {self.__default_delevery}')

    def __deactivateaccount(self):
        print(f'{self.name} account has been deactivated successfully')

In [17]:
account = amazonaccount('abdullah',1234567890,'abdullah@gmail.com')

In [20]:
account.shopping('iphone')
account.delevery()

abdullah bought iphone
your order will be delevered in 7